#exclude data from repository
/src/data/**
!/src/data/raw/
!/src/data/external/
!/src/data/interim/
!/src/data/processed/
!/src/data/download.py

/src/data/raw/**
/src/data/external/**
/src/data/interim/**
/src/data/processed/**



!/src/data/raw/.gitignore
!/src/data/external/.gitignore
!/src/data/interim/.gitignore
!/src/data/processed/.gitignore
.idea/workspace.xml